*~
*.class
*.jar
figwheel_server.log
pom.xml
pom.xml.asc

/setsail/.lein-*
/setsail/.nrepl-port
/setsail/.repl
/setsail/checkouts/
/setsail/classes/
/setsail/lib/
/setsail/log/
/setsail/out/
/setsail/resources/public/js/compiled/**
/setsail/resources/public/css/compiled/**
/setsail/resources/devcards/js/compiled/**
/setsail/target/

/feels/.lein-*
/feels/.nrepl-port
/feels/.repl
/feels/checkouts/
/feels/classes/
/feels/lib/
/feels/log/
/feels/out/
/feels/resources/public/js/compiled/**
/feels/resources/devcards/js/compiled/**
/feels/target/
/feels/node_modules/